html {
  overflow-y: auto;
}

#scrollHeaderPanel_0 {
  background-size: cover;
  background-position: center center;
}

#t {
  transform: scale(0.75) translateZ(0px);
  transform-origin: 0;
  margin-top: 8px;
  margin-left: 54px;
}
