.shadow {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   border-radius: inherit;
   pointer-events: none;
}

#apricot_workspace {
  display: none;
}

/* ShowBrick, HideBrick, ToggleBrick
 * ShowParts, HideParts, ToggleParts
 */
.element-visible {
  visibility: visible;
}

.element-hidden {
  visibility: hidden;
}

.element-visible-scale {
  animation-name: scaleShow;
  animation-timing-function: ease;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.element-hidden-scale {
  animation-name: scaleHide;
  animation-timing-function: ease;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.element-hidden-width {
  animation-name: closeWidthElement;
  animation-timing-function: ease;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  transform-origin: left center;
}

.element-hidden-height {
  animation-name: closeHeightElement;
  animation-timing-function: ease;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  transform-origin: top center;
}
