.shadow {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   border-radius: inherit;
   pointer-events: none;
}

#apricot_workspace {
  display: none;
}

/* ShowBrick, HideBrick, ToggleBrick
 * ShowParts, HideParts, ToggleParts
 */
.element-visible {
  visibility: visible;
}

.element-hidden {
  visibility: hidden;
}

.element-visible-scale {
  visibility: visible;
  transform: scale(1);
}

.element-hidden-scale {
  visibility: visible;
  transform: scale(0);
}
