/**
 * Aricot default animations
 */

/*----------------------------------------------------------------------------*/
/*    brick を表示するアニメーション                                          */
/*----------------------------------------------------------------------------*/
@keyframes scaleShow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*----------------------------------------------------------------------------*/
/*    brick を非表示するアニメーション                                        */
/*----------------------------------------------------------------------------*/
@keyframes scaleHide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes closeElement {
  0% {
  }
  100% {
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
  }
}

@keyframes closeWidthElement {
  0% {
  }
  100% {
    width: 0px;
    margin: 0px;
    padding: 0px;
  }
}

@keyframes closeHeightElement {
  0% {
  }
  100% {
    height: 0px;
    margin: 0px;
    padding: 0px;
  }
}
